<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
 
  <system.serviceModel>   
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="false"/> -->
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp helpEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="webHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" >
      <serviceActivations>
        <add service="ShoppingCart.Services.ItemDetailsWCF" relativeAddress="~/ItemDetailsWCF.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <standardEndpoints>
      <webScriptEndpoint>
        <standardEndpoint name="" crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <!--<httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*"/>
          <add name="Access-Control-Allow-Header" value="Content-Type, Accept"/>
          <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
          <add name="Access-Control-Max-Age" value="1728000" />
        </customHeaders>
      </httpProtocol>-->
    <!--<directoryBrowse enabled="true"/>-->
  </system.webServer>
   <connectionStrings>
    <add name="ShoppingDBEntities" connectionString="metadata=res://*/ShoppingCartModel.csdl|res://*/ShoppingCartModel.ssdl|res://*/ShoppingCartModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=ShoppingDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
</configuration>
